In [2]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
import gmaps
import json

# Census & gmaps API Keys
# from config import (api_key, gkey)
# c = Census(api_key, year=2013)

# # Configure gmaps
# gmaps.configure(api_key=gkey)

In [3]:
statecsv= pd.read_csv("./statelatlong.csv")
statecsv.head()

  State   Latitude   Longitude        City
0    AL  32.601011  -86.680736     Alabama
1    AK  61.302501 -158.775020      Alaska
2    AZ  34.168219 -111.930907     Arizona
3    AR  34.751928  -92.131378    Arkansas
4    CA  37.271875 -119.270415  California

In [4]:
crimestatecsv= pd.read_csv("./crimebystatecombinedwithunemployment (1).csv")
crimestatecsv.head()

,state,unemployment,year,Population,violent total,Murder,rape,Robbery,Aggravated assault,property total,Burglary,Larceny theft,vehicle theft
0,AL,6.808,1976,3665000,388.8,15.1,21.7,96.0,256.0,3419.5,1170.0,1987.2,262.3
1,AL,7.325,1977,3690000,414.4,14.2,25.2,96.8,278.3,3298.2,1135.5,1881.9,280.7
2,AL,6.380,1978,3742000,419.1,13.3,25.5,99.1,281.2,3519.7,1229.3,1987.9,302.5
3,AL,7.158,1979,3769000,413.3,13.2,27.5,109.5,263.1,3830.5,1287.3,2223.2,320.1
4,AL,8.867,1980,3861466,448.5,13.2,30.0,132.1,273.2,4485.1,1526.7,2642.2,316.2

In [5]:
# Merge the datasets using the state columns, adding the latitude and longitude columns
crime_state_data = pd.merge(crimestatecsv,statecsv, how="left", left_on="state", right_on="State")

# Save the updated dataframe as a csv
crime_state_data.to_csv("./Unemp_crime_state_data.csv", encoding="utf-8", index=False)
crime_state_data.head()

,state,unemployment,year,Population,violent total,Murder,rape,Robbery,Aggravated assault,property total,Burglary,Larceny theft,vehicle theft,State,Latitude,Longitude,City
0,AL,6.808,1976,3665000,388.8,15.1,21.7,96.0,256.0,3419.5,1170.0,1987.2,262.3,AL,32.601011,-86.680736,Alabama
1,AL,7.325,1977,3690000,414.4,14.2,25.2,96.8,278.3,3298.2,1135.5,1881.9,280.7,AL,32.601011,-86.680736,Alabama
2,AL,6.380,1978,3742000,419.1,13.3,25.5,99.1,281.2,3519.7,1229.3,1987.9,302.5,AL,32.601011,-86.680736,Alabama
3,AL,7.158,1979,3769000,413.3,13.2,27.5,109.5,263.1,3830.5,1287.3,2223.2,320.1,AL,32.601011,-86.680736,Alabama
4,AL,8.867,1980,3861466,448.5,13.2,30.0,132.1,273.2,4485.1,1526.7,2642.2,316.2,AL,32.601011,-86.680736,Alabama

In [6]:
#filtering the data for 10 years from 2004 to 2014

newdf = crime_state_data[crime_state_data.year.isin([2004,2005,2006,2007,2008,2009, 2010,2011,2012,2013,2014])]
newdf.head()

,state,unemployment,year,Population,violent total,Murder,rape,Robbery,Aggravated assault,property total,Burglary,Larceny theft,vehicle theft,State,Latitude,Longitude,City
28,AL,5.683,2004,4525375,427.0,5.6,38.5,133.5,249.4,4029.3,987.0,2732.4,309.9,AL,32.601011,-86.680736,Alabama
29,AL,4.492,2005,4548327,433.0,8.2,34.4,141.7,248.3,3900.0,955.8,2656.0,289.0,AL,32.601011,-86.680736,Alabama
30,AL,4.033,2006,4599030,425.2,8.3,35.8,153.6,227.5,3941.0,973.7,2640.8,326.5,AL,32.601011,-86.680736,Alabama
31,AL,3.983,2007,4627851,448.9,8.9,33.4,159.9,246.7,3977.7,980.6,2689.5,307.7,AL,32.601011,-86.680736,Alabama
32,AL,5.658,2008,4661900,452.8,7.5,34.7,157.6,253.0,4084.5,1081.3,2714.3,288.9,AL,32.601011,-86.680736,Alabama

In [7]:
# new = old[['A','C','D']]
newdf2 = newdf[['state','unemployment','year','Population','Murder','rape','Robbery','Aggravated assault'
               ,'violent total','Burglary','Larceny theft','vehicle theft','property total',
               'Latitude','Longitude']]
newdf2

,state,unemployment,year,Population,Murder,rape,Robbery,Aggravated assault,violent total,Burglary,Larceny theft,vehicle theft,property total,Latitude,Longitude
28,AL,5.683,2004,4525375,5.6,38.5,133.5,249.4,427.0,987.0,2732.4,309.9,4029.3,32.601011,-86.680736
29,AL,4.492,2005,4548327,8.2,34.4,141.7,248.3,433.0,955.8,2656.0,289.0,3900.0,32.601011,-86.680736
30,AL,4.033,2006,4599030,8.3,35.8,153.6,227.5,425.2,973.7,2640.8,326.5,3941.0,32.601011,-86.680736
31,AL,3.983,2007,4627851,8.9,33.4,159.9,246.7,448.9,980.6,2689.5,307.7,3977.7,32.601011,-86.680736
32,AL,5.658,2008,4661900,7.5,34.7,157.6,253.0,452.8,1081.3,2714.3,288.9,4084.5,32.601011,-86.680736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1984,WY,6.458,2010,564554,1.4,28.7,13.6,154.1,197.9,381.0,1970.8,104.9,2456.6,43.000325,-107.554567
1985,WY,5.808,2011,567356,3.2,25.7,12.5,178.0,219.4,328.5,1849.5,91.8,2269.8,43.000325,-107.554567
1986,WY,5.317,2012,576626,2.4,26.7,10.6,161.6,201.3,368.5,1823.2,101.3,2293.0,43.000325,-107.554567
1987,WY,4.725,2013,583223,2.9,24.7,12.7,157.2,207.8,335.4,1761.8,99.1,2196.2,43.000325,-107.554567
1988,WY,4.158,2014,584153,2.7,21.6,9.1,153.9,195.5,289.1,1572.4,103.2,1964.7,43.000325,-107.554567

In [8]:
newdf2.columns=['State','Unemployment','Year','Population','Murder','Rape','Robbery','Aggravated Assault'
               ,'Violent Total','Burglary','Larceny Theft','Vehicle Theft','Property Total',
               'Latitude','Longitude']
newdf2

,State,Unemployment,Year,Population,Murder,Rape,Robbery,Aggravated Assault,Violent Total,Burglary,Larceny Theft,Vehicle Theft,Property Total,Latitude,Longitude
28,AL,5.683,2004,4525375,5.6,38.5,133.5,249.4,427.0,987.0,2732.4,309.9,4029.3,32.601011,-86.680736
29,AL,4.492,2005,4548327,8.2,34.4,141.7,248.3,433.0,955.8,2656.0,289.0,3900.0,32.601011,-86.680736
30,AL,4.033,2006,4599030,8.3,35.8,153.6,227.5,425.2,973.7,2640.8,326.5,3941.0,32.601011,-86.680736
31,AL,3.983,2007,4627851,8.9,33.4,159.9,246.7,448.9,980.6,2689.5,307.7,3977.7,32.601011,-86.680736
32,AL,5.658,2008,4661900,7.5,34.7,157.6,253.0,452.8,1081.3,2714.3,288.9,4084.5,32.601011,-86.680736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1984,WY,6.458,2010,564554,1.4,28.7,13.6,154.1,197.9,381.0,1970.8,104.9,2456.6,43.000325,-107.554567
1985,WY,5.808,2011,567356,3.2,25.7,12.5,178.0,219.4,328.5,1849.5,91.8,2269.8,43.000325,-107.554567
1986,WY,5.317,2012,576626,2.4,26.7,10.6,161.6,201.3,368.5,1823.2,101.3,2293.0,43.000325,-107.554567
1987,WY,4.725,2013,583223,2.9,24.7,12.7,157.2,207.8,335.4,1761.8,99.1,2196.2,43.000325,-107.554567
1988,WY,4.158,2014,584153,2.7,21.6,9.1,153.9,195.5,289.1,1572.4,103.2,1964.7,43.000325,-107.554567

In [11]:
# Adding a new column for the Violent and Property Crime
newdf2['Total_CrimeRate'] = newdf2['Violent Total'] + newdf2['Property Total']
newdf2

<ipython-input-11-2c823d8fea23>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf2['Total_CrimeRate'] = newdf2['Violent Total'] + newdf2['Property Total']

,State,Unemployment,Year,Population,Murder,Rape,Robbery,Aggravated Assault,Violent Total,Burglary,Larceny Theft,Vehicle Theft,Property Total,Latitude,Longitude,Total_CrimeRate
28,AL,5.683,2004,4525375,5.6,38.5,133.5,249.4,427.0,987.0,2732.4,309.9,4029.3,32.601011,-86.680736,4456.3
29,AL,4.492,2005,4548327,8.2,34.4,141.7,248.3,433.0,955.8,2656.0,289.0,3900.0,32.601011,-86.680736,4333.0
30,AL,4.033,2006,4599030,8.3,35.8,153.6,227.5,425.2,973.7,2640.8,326.5,3941.0,32.601011,-86.680736,4366.2
31,AL,3.983,2007,4627851,8.9,33.4,159.9,246.7,448.9,980.6,2689.5,307.7,3977.7,32.601011,-86.680736,4426.6
32,AL,5.658,2008,4661900,7.5,34.7,157.6,253.0,452.8,1081.3,2714.3,288.9,4084.5,32.601011,-86.680736,4537.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1984,WY,6.458,2010,564554,1.4,28.7,13.6,154.1,197.9,381.0,1970.8,104.9,2456.6,43.000325,-107.554567,2654.5
1985,WY,5.808,2011,567356,3.2,25.7,12.5,178.0,219.4,328.5,1849.5,91.8,2269.8,43.000325,-107.554567,2489.2
1986,WY,5.317,2012,576626,2.4,26.7,10.6,161.6,201.3,368.5,1823.2,101.3,2293.0,43.000325,-107.554567,2494.3
1987,WY,4.725,2013,583223,2.9,24.7,12.7,157.2,207.8,335.4,1761.8,99.1,2196.2,43.000325,-107.554567,2404.0
1988,WY,4.158,2014,584153,2.7,21.6,9.1,153.9,195.5,289.1,1572.4,103.2,1964.7,43.000325,-107.554567,2160.2

In [12]:
# newdf_topUnemp_Year = newdf2['State','Unemployment','Year']

newdf_topUnemp_Year = newdf2.filter(['State','Unemployment','Year'], axis=1)
newdf_topUnemp_Year 

# print(newdf_topUnemp_Year.groupby('Year').
newdf_topUnemp_Year.groupby('Year')['Unemployment'].max().reset_index()

    Year  Unemployment
0   2004         7.783
1   2005         7.475
2   2006         7.000
3   2007         7.033
4   2008         7.983
5   2009        13.658
6   2010        13.525
7   2011        13.033
8   2012        11.167
9   2013         9.625
10  2014         7.925

In [13]:
# Highest Unemployment rated states from 2004 - 2014
newdf_topUnemp_Year = newdf2.filter(['State','Unemployment','Year'], axis=1)

newdf_topUnemp_Year.groupby("Year", as_index=False).apply(lambda df:df.sort_values("Unemployment", ascending=False)
.head(1)).droplevel(0).sort_values("Unemployment", ascending=False)

# newdf2[['State','Unemployment','Year']].groupby("Year", as_index=False).apply(lambda df:df.sort_values("Unemployment", ascending=False)
# .head(1)).droplevel(0).sort_values("Unemployment", ascending=False)

     State  Unemployment  Year
891     MI        13.658  2009
1126    NV        13.525  2010
1127    NV        13.033  2011
1128    NV        11.167  2012
1129    NV         9.625  2013
890     MI         7.983  2008
1130    NV         7.925  2014
340     DC         7.783  2004
965     MS         7.475  2005
889     MI         7.033  2007
888     MI         7.000  2006

In [14]:
# Highest Violent Total for states from 2004 - 2014
newdf_topUnemp_Year = newdf2.filter(['State','Unemployment','Year'], axis=1)

newdf2.groupby("Year", as_index=False).apply(lambda df:df.sort_values("Violent Total", ascending=False)
.head(1)).droplevel(0).sort_values("Violent Total", ascending=False)

,State,Unemployment,Year,Population,Murder,Rape,Robbery,Aggravated Assault,Violent Total,Burglary,Larceny Theft,Vehicle Theft,Property Total,Latitude,Longitude,Total_CrimeRate
342,DC,5.792,2006,581530,29.1,31.8,658.4,789.1,1508.4,659.5,2735.5,1258.9,4653.9,38.899349,-77.014567,6162.3
344,DC,6.458,2008,591833,31.4,31.4,748.5,626.4,1437.7,640.0,3372.2,1092.4,5104.6,38.899349,-77.014567,6542.3
343,DC,5.525,2007,588292,30.8,32.6,725.0,626.7,1415.1,667.4,2956.0,1292.9,4916.3,38.899349,-77.014567,6331.4
341,DC,6.375,2005,582049,33.5,28.5,635.7,682.2,1380.0,614.6,2549.0,1326.0,4490.0,38.899349,-77.014567,5870.0
340,DC,7.783,2004,554239,35.7,40.1,577.7,715.9,1369.4,712.0,2623.8,1517.0,4852.8,38.899349,-77.014567,6222.2
345,DC,9.275,2009,599657,24.2,25.0,734.4,565.3,1348.9,616.4,3213.0,922.5,4751.9,38.899349,-77.014567,6100.8
346,DC,9.417,2010,604912,21.8,30.9,715.0,559.1,1326.8,699.8,3225.9,835.7,4761.4,38.899349,-77.014567,6088.2
349,DC,8.483,2013,649111,15.9,45.8,628.9,590.8,1296.4,510.9,3781.6,498.2,4790.7,38.899349,-77.014567,6087.1
350,DC,7.775,2014,658893,15.9,53.4,530.7,626.1,1244.4,526.0,4082.3,574.1,5182.5,38.899349,-77.014567,6426.9
348,DC,9.050,2012,633427,13.9,37.3,637.3,553.3,1241.8,555.5,3721.8,578.3,4855.7,38.899349,-77.014567,6097.5
347,DC,10.158,2011,619020,17.4,27.9,661.4,494.0,1200.8,622.0,3448.5,720.0,4790.5,38.899349,-77.014567,5991.3

In [15]:
# Highest Property Total for states from 2004 - 2014
newdf2.groupby("Year", as_index=False).apply(lambda df:df.sort_values("Property Total", ascending=False)
.head(1)).droplevel(0).sort_values("Property Total", ascending=False)

,State,Unemployment,Year,Population,Murder,Rape,Robbery,Aggravated Assault,Violent Total,Burglary,Larceny Theft,Vehicle Theft,Property Total,Latitude,Longitude,Total_CrimeRate
350,DC,7.775,2014,658893,15.9,53.4,530.7,626.1,1244.4,526.0,4082.3,574.1,5182.5,38.899349,-77.014567,6426.9
344,DC,6.458,2008,591833,31.4,31.4,748.5,626.4,1437.7,640.0,3372.2,1092.4,5104.6,38.899349,-77.014567,6542.3
106,AZ,5.033,2004,5739879,7.2,33.0,134.5,329.6,504.4,991.0,3118.7,963.5,5073.3,34.168219,-111.930907,5577.7
343,DC,5.525,2007,588292,30.8,32.6,725.0,626.7,1415.1,667.4,2956.0,1292.9,4916.3,38.899349,-77.014567,6331.4
1862,WA,5.550,2005,6291899,3.3,44.7,92.0,205.7,346.0,959.1,3147.0,783.0,4890.0,38.899349,-77.014567,5236.0
348,DC,9.050,2012,633427,13.9,37.3,637.3,553.3,1241.8,555.5,3721.8,578.3,4855.7,38.899349,-77.014567,6097.5
349,DC,8.483,2013,649111,15.9,45.8,628.9,590.8,1296.4,510.9,3781.6,498.2,4790.7,38.899349,-77.014567,6087.1
347,DC,10.158,2011,619020,17.4,27.9,661.4,494.0,1200.8,622.0,3448.5,720.0,4790.5,38.899349,-77.014567,5991.3
108,AZ,4.208,2006,6166318,8.6,39.7,153.9,340.3,542.6,963.6,2891.9,918.7,4774.1,34.168219,-111.930907,5316.7
346,DC,9.417,2010,604912,21.8,30.9,715.0,559.1,1326.8,699.8,3225.9,835.7,4761.4,38.899349,-77.014567,6088.2
345,DC,9.275,2009,599657,24.2,25.0,734.4,565.3,1348.9,616.4,3213.0,922.5,4751.9,38.899349,-77.014567,6100.8

In [16]:
# Highest CrimeRate (Violent+Property) Total for states from 2004 - 2014
newdf2.groupby("Year", as_index=False).apply(lambda df:df.sort_values("Total_CrimeRate", ascending=False)
.head(1)).droplevel(0).sort_values("Total_CrimeRate", ascending=False)

,State,Unemployment,Year,Population,Murder,Rape,Robbery,Aggravated Assault,Violent Total,Burglary,Larceny Theft,Vehicle Theft,Property Total,Latitude,Longitude,Total_CrimeRate
344,DC,6.458,2008,591833,31.4,31.4,748.5,626.4,1437.7,640.0,3372.2,1092.4,5104.6,38.899349,-77.014567,6542.3
350,DC,7.775,2014,658893,15.9,53.4,530.7,626.1,1244.4,526.0,4082.3,574.1,5182.5,38.899349,-77.014567,6426.9
343,DC,5.525,2007,588292,30.8,32.6,725.0,626.7,1415.1,667.4,2956.0,1292.9,4916.3,38.899349,-77.014567,6331.4
340,DC,7.783,2004,554239,35.7,40.1,577.7,715.9,1369.4,712.0,2623.8,1517.0,4852.8,38.899349,-77.014567,6222.2
342,DC,5.792,2006,581530,29.1,31.8,658.4,789.1,1508.4,659.5,2735.5,1258.9,4653.9,38.899349,-77.014567,6162.3
345,DC,9.275,2009,599657,24.2,25.0,734.4,565.3,1348.9,616.4,3213.0,922.5,4751.9,38.899349,-77.014567,6100.8
348,DC,9.050,2012,633427,13.9,37.3,637.3,553.3,1241.8,555.5,3721.8,578.3,4855.7,38.899349,-77.014567,6097.5
346,DC,9.417,2010,604912,21.8,30.9,715.0,559.1,1326.8,699.8,3225.9,835.7,4761.4,38.899349,-77.014567,6088.2
349,DC,8.483,2013,649111,15.9,45.8,628.9,590.8,1296.4,510.9,3781.6,498.2,4790.7,38.899349,-77.014567,6087.1
347,DC,10.158,2011,619020,17.4,27.9,661.4,494.0,1200.8,622.0,3448.5,720.0,4790.5,38.899349,-77.014567,5991.3
341,DC,6.375,2005,582049,33.5,28.5,635.7,682.2,1380.0,614.6,2549.0,1326.0,4490.0,38.899349,-77.014567,5870.0

In [27]:
# converting the dataframe to json object and saved into Export_DataFrame.json file.
# js_all = 
newdf2.to_json(r'Export_DataFrame.json',orient = 'records')
# print(js_all)

In [24]:
# Function to convert the dataframe to geojson data.

def df_to_geojson(df, properties, lat='Latitude', lon='Longitude'):
    # create a new python dict to contain our geojson data, using geojson format
    geojson = {'type':'FeatureCollection', 'features':[]}

    # loop through each row in the dataframe and convert each row to geojson format
    for _, row in df.iterrows():
        # create a feature template to fill in
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}

        # fill in the coordinates
        feature['geometry']['coordinates'] = [row[lon],row[lat]]

        # for each column, get the value and add it as a new feature property
        for prop in properties:
            feature['properties'][prop] = row[prop]
        
        # add this feature (aka, converted dataframe row) to the list of features inside our dict
        geojson['features'].append(feature)
    
    return geojson

In [25]:
cols = ['State','Unemployment','Year','Population','Murder','Rape','Robbery','Aggravated Assault'
               ,'Violent Total','Burglary','Larceny Theft','Vehicle Theft','Property Total','Total_CrimeRate']
# geojson = df_to_geojson(df_geo, cols)

# calling the function to convert the dataframe to geojson data.

geojson = df_to_geojson(newdf2, cols)

In [26]:
# save the geojson result to a file  'dataset.js'
output_filename = 'dataset.js'
with open(output_filename, 'w') as output_file:
    output_file.write('var dataset = {};'.format(json.dumps(geojson)))
    
# how many features did we save to the geojson file?
print('{} geotagged features saved to file'.format(len(geojson['features'])))

561 geotagged features saved to file